[ComponentManager]
Component.1=CpDrv
Component.2=IoDrvAI
Component.3=IoDrvAO
Component.4=IoDrvDI
Component.5=IoDrvDO
Component.6=IoDrvRTD
Component.7=IoDrvTC
Component.8=IoDrvExternal
Component.9=ExternalDev
Component.10=Interaction
Component.11=InteractDev
Component.12=IoDrvHart
Component.13=IoDrvSOE
Component.14=IoDrvPO
Component.15=CmpLEDMgr
[SysTask]
; Max Linux priority(99)-OSPriority = effective Linux priority
; e.g. map IEC prio 0..15 to Linux prio 54..39 ,
;OSPriority.Realtime.Base=45
;OSPriority.Realtime.End=77
; avoid overlapping ranges:
;OSPriority.High.Base=78
;OSPriority.High.End=95
;StackSize=0x1000000
[CmpSettings]
FileReference.0=SysFileMap.cfg, SysFileMap
;SplitDatabases=1
;FileReference.1=/etc/Configurationfile.cfg

[SysFile]
PlcLogicPrefix=1
;FilePath.1=/home/plc
FilePath.1=/home/root/codesys/run/, *.dat
FilePath.2=/home/root/codesys/run/PlcLogic/Application/, *.app, *.crc, *.ret
[CmpLog]
;Logger.0.Name=StdLogger
;Logger.0.Enable=1
;Logger.0.MaxEntries=1000
;Logger.0.MaxFileSize=5000
;Logger.0.MaxFiles=3
; SysOutBackend:
;Logger.0.Backend.0.ClassId=0x0000010B
; SysFileBackend:
;Logger.0.Backend.1.ClassId=0x00000104
;Logger.0.Filter=0xFFFFFFFF

[SysExcept]
Linux.DisableFpuUnderflowException=1
Linux.DisableFpuOverflowException=1
;Linux.DisableFpuInvalidOperationException=1

[CmpTargetVisu]
;WindowPositionX=0
;WindowPositionY=20
;WindowSizeWidth=240
;WindowSizeHeight=300

[CmpSchedule]
;ProcessorLoad.Maximum=99
;Scheduling.TaskSupervisor=WatchdogTimer
DisableOmittedCycleWatchdog=1

[CmpSocketCanDrv]
;InterfaceName=can
;ScriptName=rts_set_baud.sh
;ScriptPath=./rts_set_baud/ip

[CmpOPCUAServer]
MaxMonitoredItemsPerCall=600

[CmpRouter]
;MaxRouters=1; ; only needed to limit max nr of routerinstances
;0.MainNet=main
;1.MainNet=MyCom

[CmpBlkDrvCom]
;Com.0.Name=MyCom
;Com.0.Baudrate=115200
;Com.0.Port=3

[CmpBlkDrvUdp]
;itf.0.ipaddress=192.168.100.0
;itf.0.name=main
;itf.0.networkmask=255.255.252.0

[CmpApp]
Bootproject.RetainMismatch.Init=1
;RetainType.Applications=InSRAM
;Application.FirstLoadInitRetains=1
;RetainType.Applications=InSRAM
;Application.Bootproject=Application

Application.1=Application
[CmpRetain]
;Retain.SRAM.Size=0x1000
;Retain.SRAM.Address=0xFA3C57736
;Size = 120 *1024 byte,the actual byte can be used depends on device descriptor
Retain.SRAM.Size=0x2E000
;Address must be 4k alignment
Retain.SRAM.Address=0x02001000


[SysMem]
;Linux.Memlock=0

[SysCom]
;Linux.Devicefile=/dev/ttyS

[SysEthernet]
; set a filter for Ethernet Protocol IDs here (linux/if_ether.h)
; default is ethercat(0x88A4) set 3(ETH_P_ALL) for profinet or ethnetIP
;Linux.ProtocolFilter=3
; activate PACKET_QDISC_BYPASS socketoption for lower send jitter 
;Linux.PACKET_QDISC_BYPASS=1

[SysCpuHandling]
Linux.DisableCpuDmaLatency=1

[CmpHilscherCIFX]
;TraceLevel=0xffffffff
; dynamic declaration of firware files:
DynamicFirmware=1
BootloaderFile=./HilscherCIFX/Firmware/NETX100-BSL.bin 
FirmwareFilePath=./HilscherCIFX/Firmware
; non-dynamic old-style declaration of firware files
;Device.0.BootloaderFilePath=.\HilscherCIFX\Firmware\NETX100-BSL.bin 
;Device.0.Channel.0.FirmwareFile=.\HilscherCIFX\Firmware\cifxcom.nxf

[CmpBACnet]
IniFile=bacstac.ini

[CmpUserMgr]
SECURITY.UserMgmtEnforce=NO

AsymmetricAuthKey=8952dbcff96e9d8aefc2e4c970c1787e893c0930
[CmpRedundancyConnectionIP]
Link1.IpAddressLocal=190.0.0.109
Link1.IpAddressPeer=190.0.0.9
Link1.Port=1205

Link2.IpAddressLocal=0.0.0.0
Link2.IpAddressPeer=0.0.0.0
Link2.Port=1205
[CmpRedundancy]
BootupWaitTime=5000
TcpWaitTime=2000
StandbyWaitTime=1000


Ethercat=0
Profibus=0
DataSyncAlways=1
SyncWaitTime=1000
Bootproject=Application
RedundancyTaskName=MainTask
PlcIdent=1

[CmpSecureChannel]
CertificateHash=45d634cf2d22ec6c4dcfc51874ece1dd6cbbef59

[VisuRedundancy]
Enable=0
LineType=0
CmdRepeat=3
ClientRcvTimeout=5000
ClientTrsTimeout=10000
ServerRcvTimeout=10000
ServerTrsTimeout=5000
HeartBeatTime=0
WebVisuCmdTimeout=2000

[VisuRedundancyTCP]
UseRedundParam=0
IpAddressSwitchOver=0.0.0.0
PortSwitchOver=8080
ConnLineBreakTimeout=3000
ConnActiveTimeout=2000
UseTLS=0
Thumbprint=
ThumbprintPeer=
